

 <H2>Showing flights from Chicago to <%= @arrival %></H2>

 <p>
 
 <table style="width:900px">
<tr>
  <th>Airline</th>
  <th>Flight Number</th> 
  <th>Departure Airport</th>
  <th>Arrival Airport</th>
  <th>Flight Time</th>
</tr>
<% @flight.each do |flight| %>
<tr>

  <td><%= flight.airline %></td>
  <td><%= flight.flight_num %></td>
  <td><%= flight.departure %></td>
  <td><%= flight.arrival %></td>
  <td><%= flight.flight_time %></td>

<p>
<% end %>